# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcscmblueprint

# Build products
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/